name: hdx_historical_weather_explorer
description: A Flutter app to explore historical weather using the Meteostat API.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  flutter_bloc: ^8.1.3
  flutter_map: ^6.1.0
  equatable: ^2.0.5
  get_it: ^7.6.4
  http: ^1.2.0
  intl: ^0.18.1
  latlong2: ^0.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
